<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>
<h3>
	Merge Articles
</h3>
 <%= form_tag "/admin/content/merge_with/#{@article.id}",:method =>"post",:id =>"merge_with" %>
 	<%=label :merge_with,"Article Id"%>
 	<%=text_field  :content,:merge_with_id,:id=>"merge_with" %>
 	</br>
 <%= submit_tag "Merge" %>